Repository konveyor/move2kube, pull requests merged in 2023-12, with the labels that each got.

#1111 fix: limit the size of the git clone
  cmd/flags.go
  cmd/plan.go
  cmd/transform.go
  common/vcs/git.go
  common/vcs/git_test.go
  common/vcs/limit.go
  common/vcs/vcs.go
  environment/environment.go
  go.mod
  lib/planner.go
  lib/transformer.go
  lib/utils.go
  types/plan/planutils.go
Labels: fix

#1118 test: add tests for mergeDeletionCallBack
  filesystem/merger_test.go
Labels: test

#1098 feat: add support for Argo Rollouts
  common/constants.go
  go.mod
  go.sum
  transformer/kubernetes/apiresource/argocdapplication.go
  transformer/kubernetes/apiresource/deployment.go
  transformer/kubernetes/apiresource/service.go
  transformer/kubernetes/irpreprocessor/ingresspreprocessor.go
  transformer/kubernetes/irpreprocessor/statefulsetpreprocessor.go
  types/ir/ir.go
  types/qaengine/commonqa/commonqa.go
Labels: feat

#1121 test: added test for mergeProcessFileCallBack function
  filesystem/merger_test.go
Labels: test
